<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check for Robot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Пожалуйста, нажмите кнопку ниже, чтобы подтвердить, что вы не робот.</p>
        <button onclick="checkRobot()">Проверить на робота</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
